@font-face{font-family:Raleway;src:url(../fonts/Raleway-Regular.ttf);}

body{font-family:Raleway}

input{margin-bottom:1rem;}

.headerwrap{display:flex;align-items:baseline;}
.headerwrap h3{margin-right:24px;}
.status{color:red;}

.log td:nth-child(4), .log th:nth-child(4){text-align:right;}
.log tr:nth-child(odd):hover {background:#eee;}
.log tr:nth-child(odd) + tr {display:none;}
.log tr:nth-child(odd):hover + tr {background:#eee;display:table-row;}
th,td{padding:0;margin:0;}
table{border-spacing:0;}

.right td:nth-child(even){text-align:right;}
.val-pos{font-weight:bold;color:green;}
.val-neu{font-weight:bold;color:orange;}
.val-neg{font-weight:bold;color:red;}
